body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	background-color: #CCC;
	margin: 0px;
	padding: 0px;
	background-image: url(../images/background.png);
}
.navigation {
	background-color: #016B3C;
	margin: 0px;
	padding: 15px;
	border: thin solid #016B3C;
}
.wrapper {
	width: 950px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
}
.navigation td {
	margin: auto;
	padding-top: 0px;
	padding-right: 35px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.navigation a {
	color: #FCD727;
	text-decoration: underline;
	font-size: 16px;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: normal;
}
.content {
	background-color: #FCD727;
	padding: 15px;
	margin: 20px;
	font-family: Tahoma, Geneva, sans-serif;
	color: #015345;
}
table tr th {
	text-decoration: underline;
}
.content table tr td {
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 30px;
}
.content p img {
	margin-left: 20px;
	margin-right: 20px;
}
.content h3 {
	padding-left: 10px;
}
.thispage {
	background-color: #999;
}
